@font-face {
  font-family: crock;
  src: url(crock.ttf) format("truetype");
}

.loading {
  height: 100%;
  width: 100%;
  background-image: url(circle.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50% 65%;
  z-index: 10;
}
.bg {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #0d0d0d;
  z-index: 1;
}

.loadingtext {
  margin: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  color: white;
  margin-right: -50%;
  font-family: "crock", crock, serif;
  font-size: 50px;
  transform: translate(-50%, -50%);
}
.loadingsubtext {
  margin: 0;
  position: absolute;
  top: 94%;
  left: 50%;
  color: white;
  margin-right: -50%;
  font-family: "crock", crock, serif;
  font-size: 20px;
  transform: translate(-50%, -50%);
}

		#main{
			margin: 0 auto;
			width: 100%;
			height: 60%;
		}
		#remover{
			position: absolute;
			left: 38%;
			top: 40%;
			text-align: center;
			margin: 0 auto;
			width: 25%;
			height: 15%;
			font-size: 20px;
			background-color: rgba(0,0,0,0.8);
			border-radius: 10px;
		}
		#confirm{
			margin: 0 auto;
			text-align: center;
			width: 30%;
			margin-top: 6%;
			font-family: "crock", crock, serif;
			font-size: 20px;
			color:white;
			border: 0;
			background-color: #b50000;
		}
		#cancelDeletion{
			margin: 0 auto;
			text-align: center;
			width: 30%;
			margin-left: 2%;
			margin-top: 3%;
			font-family: "crock", crock, serif;
			font-size: 20px;
			color:white;
			border: 0;
			background-color: #14719c;
		}
		#pewien{
			color:white;
			font-weight: bold;
			margin-top: 5%;
		}
		.char{
			text-align:center;
			margin-top: 0%;
			float: left;
			width: 25%;
			height: 28%;
			background-image: url("bg.png");
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100% 120%;
		}
		.money, .gold{
			text-align: center;
			font-size:20px;
			font-family: "crock", crock, serif;
			color:white;
			text-shadow: 0 0 5px black, 0 0 5px black;
		}

		.fname{
			text-align: center;
			margin-top: 8%;
			font-size:25px;
			font-family: "crock", crock, serif;
			color:white;
			text-shadow: 0 0 5px black, 0 0 5px black;
		}
		.create{
			width: 20%;
			margin-top: 0%;
			font-family: "crock", crock, serif;
			font-size: 20px;
			color:white;
			border: 0;
			background-color: #647857;
			opacity:0.8;
		}
		
		.delete{
			width: 20%;
			margin-top: -2%;
			font-family: "crock", crock, serif;
			font-size: 20px;
			color:white;
			border: 0;
			background-color: #785757;
			opacity:0.8;
		}
		.createnew{
			margin: 0 auto;
			text-align: center;
			width: 20%;
			font-family: "crock", crock, serif;
			font-size: 20px;
			color:white;
			border: 0;
			background-color: #5b6685;
			opacity:0.8;
		}
		.ctext{
			font-family: "crock", crock, serif;
			font-size: 30px;
			color:white;
			margin-top: 14%;
			text-shadow: 0 0 5px black, 0 0 5px black;
		}
		#creator{
			position:absolute;
			text-align:center;
			margin-left: 38%;
			top: 40%;
		}
		#name{
			font-family: "crock", crock, serif;
			font-size: 20px;
			border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
			margin: 0 auto;
		}
		#lastname{
			font-family: "crock", crock, serif;
			font-size: 20px;
			border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
			margin: 0 auto;
		}
		.create2{
			width: 35%;
			height: 8vh;
			margin-top: 3%;
			font-family: "crock", crock, serif;
			font-size: 20px;
			color:white;
			border: 0;
			background-color: #647857;
		}
		::placeholder {
		color: black;
		}
